* {
  box-sizing: border-box;
}

body {
  overflow: hidden;
  margin: 0;
}

main {
  background: url("assets/freedom.jpg") no-repeat center;
  width: 100%;
  height: 100vh;
}

.container {
  font-family: 'Open Sans', sans-serif;
  text-align: center;
  padding: 4rem 1rem;
}

.container h1 {
  text-transform: uppercase;
  font-family: 'Dosis', sans-serif;
  font-weight: lighter;
  font-size: 2.5rem;
  line-height: 3.5rem;
  letter-spacing: .2rem;
}


@media (min-width: 768px) {
  .container {
    padding: 4rem 2rem;
    font-size: 1.125rem;
    letter-spacing: .1rem;
  }
  .container h1 {
    line-height: 4rem;
    letter-spacing: .3rem;
    font-size: 3rem;
  }
}

@media (min-width: 992px) {
  main {
    display: table;
  }
  .container {
    display: table-cell;
    vertical-align: middle;
    padding-left: 5rem;
    padding-right: 5rem;
  }
}